<!-- app/templates/partials/top_navbar.html -->
<div class="navbar bg-base-100 shadow-md">
    <div class="flex-1">
        <a class="btn btn-ghost normal-case text-xl" href="/">DevOps Tooling App</a>
    </div>
    <div class="flex-none">
        <button class="btn btn-square btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 4a1 1 0 011-1h1m10 0h1a1 1 0 011 1v1m0 10v1a1 1 0 01-1 1h-1m-10 0H4a1 1 0 01-1-1v-1m0-10V4a1 1 0 011-1h1m0 10h10"/>
        </svg>
        </button>
    </div>
</div>
  